<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compound concentration</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>

<body>

  <canvas id="myChart" width="600" height="400"></canvas>

  <script>

      window.addEventListener('load', setup);

      async function setup() {
          const ctx = document.getElementById('myChart').getContext('2d');
          const myChart = new Chart(ctx, {
               type: 'scatter',
               data: {
                   datasets: [
                       {% for key, value in data.items %}
                       {
                           label: "{{ value.compound }}",
                           data: [
                               {% for item in value.value %}
                                   {
                                       'x': new Date("{{ item.x.isoformat }}"),
                                       'y': {{ item.y }}
                                   },
                               {% endfor %}
                           ],
                           fill: false,
                           showLine: true,
                           borderColor: "{{ value.color }}",
                           backgroundColor: "{{ value.color }}",
                           borderWidth: 3,
                           pointRadius: 0
                       },
                       {% endfor %}
                   ],
               },
               options: {
				responsive: true,
				title: {
					display: true,
					text: 'Compound concentration'
				},
				scales: {
					xAxes: [{
						type: 'time',
						display: true,
                        unit: 'second',
						scaleLabel: {
							display: true,
							labelString: 'Time'
						},
                        gridLines: {
                            drawOnChartArea: false
                        },
						ticks: {
							major: {
								fontStyle: 'bold',
								fontColor: '#FF0000'
							}
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'mol/L'
						},
						gridLines: {
                            drawOnChartArea: false
                        },
					}]
				}
			}
            }
            )
      }
    </script>

</body>
</html>