{% extends "plot_dose/base.html" %}
{% load crispy_forms_tags %}

{% block forms %}

    <div class="row">

        <div class="content-section col-md-12">
            <div class="chartWrapper">
                <div class="chartAreaWrapper" style="height: 800px" >
                    <div class="chartAreaWrapper2" style="height: 100%">
                        <canvas id="myChart" style="height: 100%"></canvas>
                    </div>
                </div>

                <canvas id="myChartAxis" ></canvas>
            </div>

            {% include 'plot_dose/chart.html' %}

            <div id="myButtons" class="btn-group btn-group-toggle special" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="12_hours" autocomplete="off" checked> 12 hours
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="24_hours" autocomplete="off"> 24 hours
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="7_days" autocomplete="off"> 7 days
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="1_month" autocomplete="off"> 1 month
                </label>
            </div>

            {% include 'plot_dose/change_scale.html' %}

        </div>

    </div>

    <div class="row">

        <div class="content-section col-md-12">
            {% include 'plot_dose/new_form.html' %}
        </div>

    </div>

{% endblock forms %}