{% extends "plot_dose/base.html" %}
{% load crispy_forms_tags %}

{% block forms %}

    <div class="row">
        <div class="content-section col-4">
            <form action="/plot/dose_form/" method="post">
                {% csrf_token %}
                {{ compound_type|crispy }}
                <button type="submit" name="btnform1">Filter</button>
            </form>

            <form action="/plot/dose_form/" method="post">
                {% csrf_token %}
                    {{ dose_form|crispy }}
                <button type="submit" name="btnform2">Add Dose</button>
            </form>

            <form action="/plot/dose_form/" method="post">
                {% csrf_token %}
                {{ plasma_conc|crispy }}
                <button type="submit" name="btnform3">Plot Dose</button>
            </form>
        </div>


        <div class="row col-8">
            <canvas id="myChart" width="600" height="600"></canvas>

            <script>

              window.addEventListener('load', setup);

              async function setup() {
                  const ctx = document.getElementById('myChart').getContext('2d');
                  const myChart = new Chart(ctx, {
                       type: 'scatter',
                       data: {
                           datasets: [
                               {% for key, value in data.items %}
                               {
                                   label: "{{ value.compound }}",
                                   data: [
                                       {% for item in value.coords %}
                                           {
                                               'x': new Date("{{ item.x.isoformat }}"),
                                               'y': {{ item.y }}
                                           },
                                       {% endfor %}
                                   ],
                                   fill: true,
                                   showLine: true,
                                   borderColor: "{{ value.color }}",
                                   backgroundColor: "{{ value.color }}",
                                   borderDash: {{ value.line }},
                                   borderWidth: 3,
                                   pointRadius: 0,
                               },
                               {% endfor %}
                           ],
                       },
                       options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Compound concentration'
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                display: true,
                                unit: 'second',
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                },
                                gridLines: {
                                    drawOnChartArea: false
                                },
                                ticks: {
                                    major: {
                                        fontStyle: 'bold',
                                        fontColor: '#FF0000'
                                    }
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'mol/L'
                                },
                                gridLines: {
                                    drawOnChartArea: false
                                },
                            }]
                        }
                    }
                    }
                    )
              }
            </script>
        </div>
    </div>

{% endblock forms %}