{% extends "plot_dose/base.html" %}
{% load crispy_forms_tags %}

{% block forms %}
    <div class="row">
        <div class="content-section">
            <form action="/plot/dose_form/" method="post">
                {% csrf_token %}
                {{ compound_type|crispy }}
                <button type="submit" name="btnform1">Filter</button>
            </form>

            <form action="/plot/dose_form/" method="post">
                {% csrf_token %}
                    {{ dose_form|crispy }}
                <button type="submit" name="btnform2">Add Dose</button>
            </form>

            <form action="/plot/dose_form/" method="post">
                {% csrf_token %}
                {{ plasma_conc|crispy }}
                <button type="submit" name="btnform3">Plot Dose</button>
            </form>
        </div>
    </div>
{% endblock forms %}

